/*
var(--tg-theme-bg-color)
var(--tg-theme-text-color)
var(--tg-theme-hint-color)
var(--tg-theme-link-color)
var(--tg-theme-button-color)
var(--tg-theme-button-text-color)
*/
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);

}

input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.number-input {
    /*border: 2px solid #ddd;*/
    display: inline-flex;
}

.number-input,
.number-input * {
    box-sizing: border-box;
}

.number-input button {
    outline: none;
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    margin: 0;
    position: relative;
}

.number-input button:before,
.number-input button:after {
    display: inline-block;
    position: absolute;
    content: '';
    width: 1rem;
    height: 2px;
    background-color: var(--tg-theme-text-color);
    transform: translate(-50%, -50%);
}

.number-input button.plus:after {
    transform: translate(-50%, -50%) rotate(90deg);
}

.number-input input[type=number] {
    font-family: sans-serif;
    max-width: 2rem;
    padding: .5rem 0;
    border-width: 0;
    font-size: 1rem;
    height: 2rem;
    font-weight: bold;
    text-align: center;
    background: transparent;
}

.container {
    max-width: 390px;
}

.inner {
    /*display: grid;*/
    /*grid-template-columns: 1fr 1fr;*/
    /*grid-template-rows: 200px 200px 200px;*/
}

.img {
    width: 130px;
}

.item {
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    background: rgb(248, 168, 24);
    border-radius: 10px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;

    transition: background .2s linear;
}

.btn:hover {
    background: lightgreen;
}

.usercard {
    text-align: center;
}


.row {
    display: grid;
    grid-template-columns: auto 1fr 1fr 3fr;
    align-items: center;
    grid-gap: .5rem;
}
table {
    width: 100%;
    border: 0;
    border-spacing: 0;
}
thead {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 5;
}
th {
    text-align: left;
    padding: 1rem 0;
}
td {
    padding: 0;
}
tr td:nth-child(2),
tr td:nth-child(3) {
    text-align: right;
    padding: 0 .5rem;
}
tr td:nth-child(4) {
    text-align: right;
}

fieldset {
    border: 0;
    padding: 0;
    margin: 1rem 0;
}

fieldset label {
    display: block;
    width: 100%;
}
fieldset input,
fieldset select {
    display: block;
    width: 100%;
    height: 3rem;
    padding: 0 .75rem;
    font-size: 1.5rem;
}
.container {
    padding: .5rem;
    max-width: 32rem;
}